---
- name: Install Ansible via pip with break-system-packages
  pip:
    name: 
      - ansible-core
    executable: pip3
    extra_args: --break-system-packages

- name: Create ansible directory structure
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ dev_user }}"
    group: "{{ dev_user }}"
  loop:
    - "/home/{{ dev_user }}/ansible"
    - "/home/{{ dev_user }}/ansible/inventories"
    - "/home/{{ dev_user }}/ansible/roles"
    - "/home/{{ dev_user }}/ansible/playbooks"