---
- name: Install development tools
  apt:
    name:
      - git
      - make
      - unzip
      - jq
      - tree
      - htop
      - ncdu
      - python3
      - python3-pip
      - python3-venv
      - python3-full
      - pipx
      - postgresql-client
      - mysql-client
    state: present